*~
.gitignore

*.o

/.deps/
/.libs/
/Makefile
/build-stamp
/config.h
/config.log
/config.status
/debian/changelog.bck
/debian/files
/debian/privbind.debhelper.log
/debian/privbind.substvars
/debian/privbind/
/libprivbind.la
/libprivbind.lo
/libtool
/paths.h
/privbind
/stamp-h1
/testbind
